*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,a,p,span,li,button{
     font-family:oswald,sans-serif;
}
.navbar{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1612;

}
.navbar .logo img{
    width: 38px;
    height: 38px;
}
.logo{
    width: 20%;

    
}
.navlists{
    display: flex;
    align-items: center;
    
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    gap: 50px;
   
}
li{
    list-style: none;
    font-size: 14px;
}
.navbar .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.navbar .logo h3{
    color: white;
    font-size: 15px;
    font-weight: 400;
}
.navbar .menu .nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
    padding-right: 60px;
}
.navbar .menu .nav li{
    font-size: 15PX;
    color: white;
    justify-content: space-evenly;
    gap: 30px;
}
@media(max-width:900px){
    .navbar{
        padding: 10px;
    }
    .navbar .menu{
        display: none;
    }
    .navbar .burger{
        display: block;
    }
    .navbar .burger div{
        background-color: white;
        height: 3px;
        width: 25px;
        margin-bottom: 5px;

    }
}

@media(max-width:450px){
    .navbar{
        padding: 30px;
    }
}
.hero{
    height: 90vh;
    background-image: url(black\ heroimg.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 100px;
}
.content{
    width: 300px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
     padding-left: 40px;


}
.hero .content h3{
    color: #a19b99;
    font-size: 20px;
}
.hero .content h1{
    font-size: 30px;
    color: white ;
}
@media (max-width:700px){
    .hero{
        
        background-position: left;
        
        justify-content: center;
        
        padding-right: 0px;
        padding: 0 20px ;
    }
    .hero .content{
        width: 305px;
        height: 265px;
        padding: 0 20px;
        gap: 20px;
    }
    .hero .content h3{
        
        font-size: 20px;
    }
    .hero .content h1{
        font-size: 40px;
        line-height: 40px;
        
    }

}
.about{
    width: 80px;
}
.aboutus{
    background-color: #23242b;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 80px 0;
    gap: 90px;
}
.aboutus h2{
    font-size: 50px;
    color: #8e8e8e;
}
.aboutus .about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}
.aboutus .about-container .about-card{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.aboutus .about-container .about-card h3{
    font-size: 9px;
    color: white;
    font-weight: 400;
}
.aboutus .about-container .about-card p{
    color: #717a87;
    font-size: 8px;
    text-align: center;
}
@media(max-width:600px){
    .aboutus{
        padding: 100px 0;
        gap: 50px;
    }
}
.services{
    background-color: #1f212a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    gap: 100px;

}
.services h2{
    font-size: 50px;
    color: #8e8e8e;
}
.services .services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.services .services-container .services-card{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.services .services-container .services-card img{
    width: 100%;
}
.services .services-container .services-card  h3{
    color: white;
    font-size: 10px;
}
@media(max-width:600px){
    .services{
        padding: 100px 0;
        gap: 50px;
    }

}
.project{
    background-color: #23242b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 150px 0;
    gap: 70px;

}
.project h2{
    font-size: 50px;
    color: #8e8e8e;
}
.project .project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.project .project-container .project-card{
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.project .project-container .project-card img{
    width: 80%;
}
.project .project-container .project-card h3{
    color: white;
    
    font-size: 8px;
    font-weight: 400;
}
@media(max-width:600px){
    .project{
        padding: 100px 0;
        gap: 50px;
    }

}
.footer{
    width: 100%;
    background-color: #6c4343;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 120px;
    padding-top: 100px;
    flex-wrap: wrap;
    
}
.footer .top-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 100px;
    padding-bottom: 70px;
    /* flex-wrap: wrap; */
    
}

 h5 {
    color: #956767;
    font-size: 30px;
    
    
}

.footer .top-footer h4{
    font-size: 15   px;
    color: white;
    
}

.footer .top-footer .contact{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}
.footer .top-footer .cont p{
    font-size: 10px;
}

.footer .top-footer .cont{
    gap: 30px; 
    padding:40px ;
}
.footer .phone{
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    gap: 10px;
    color: white;
}
.footer .email{
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    gap: 10px;
    color: white;
}
.phn{
    width: 5%;
    
    
}
.mail{
    width: 4%;
}
.footer .top-footer .foot{
    width: 30%;
    border-radius: 3px;
    flex-wrap: wrap;
    
}
.footer .bottom-footer{
    border-top: 1px solid  #956767 ;
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.footer .bottom-footer p{
    font-weight: 400;
    font-size: 11px;
}
@media(max-width:1000px){
    .footer{
        padding: 30px 30px;
        padding-top: 50px;
        
    }
    
    .footer .top-footer .foot{
        width: 300px;
        height: auto;
        /* flex-wrap: wrap-reverse; */
    }
}



@media (max-width : 750px){
    .top-footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}